.nieuw-populair{

    h2{
        margin-bottom: 20px;
    }

    .post-card{

        div{
            background-color: $lichtoranje;
            border-radius: 10px;
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            img{
                width: 100px;
            }
        }

        h3{
            font-size: 18px;
            margin-bottom: 10px;
        }

        p{
            font-size: 14px;
            opacity: 0.5;
        }

    }

    .post-card:first-of-type{
        margin-bottom: 20px;
    }
}

#nieuw{
    margin-bottom: 40px;
    margin-top: 40px;
}

#populair{
    margin-bottom: 40px; 
}

#websize{
    font-size: 14px;
    
    a{
        display: inline-block;
        color: $oranje;
        text-decoration: underline;
    }
}