.navbar{
    background-color: $oranje;
    display: flex;
    justify-content: center;
    gap: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;

    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $wit;
        gap: 5px;
        opacity: 0.7;

        i{
            font-size: 28px;
        }

        p{
            color: $wit;
            font-size: 12px;
            font-weight: bold;
        }
    }

    a.active{
        opacity: 1;
    }
}

@media only screen and (min-width: 500px) {
    .navbar {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
    }
}