$wit : #FFFFFF;
$lichtoranje : #FFEED3;
$oranje : #FF9D00;
$zwart : #000000;

*, html{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{

    .inhoud{
        padding: 20px;
        padding-bottom: 110px;
    }

    h1,h2,h3,h4,h5,h6,p, a{
        color: $zwart;
        text-decoration: none;
        display: block
    }

    a:focus{
        outline: none;
    }
}

@import 'logo', 'navbar', 'home', 'blogs', 'zakelijk', 'blogpost';