*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #F7F3FB;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  color: #3A3A3A;
}
body a {
  text-decoration: none;
  color: #3A3A3A;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 20px 40px 20px;
}
.home header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home header img {
  width: 100px;
  border-radius: 50%;
  border: solid 3px #6830D4;
}
.home header h1 {
  font-size: 24px;
}
.home header h1 span {
  color: #6830D4;
}
.home header .socials {
  display: flex;
  gap: 10px;
}
.home header .socials a {
  font-size: 24px;
  color: #3A3A3A;
}
.home main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
}
.home main a {
  display: block;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-basis: 280px;
  flex-grow: 1;
}
.home main a div {
  background-color: #6830D4;
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
}
.home main a h2 {
  font-size: 16px;
  padding: 20px;
}
.home main a:hover {
  transform: scale(0.9);
  transition: 300ms;
}

.blogpost {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  padding: 20px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
}
.blogpost .intro-header {
  background-color: #6830D4;
  height: 150px;
  position: relative;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
.blogpost .intro-header a {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #FFFFFF;
}
.blogpost .intro-header a:hover {
  transform: scale(0.9);
  transition: 300ms;
}
.blogpost .intro-header img {
  width: 75px;
}
.blogpost .intro-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blogpost .divider {
  position: relative;
  margin: 40px 0px;
}
.blogpost .divider h2 {
  background-color: #2A0C60;
  color: #FFFFFF;
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 10px;
}
.blogpost .divider hr {
  border: 2px solid #2A0C60;
  border-radius: 5px;
}
.blogpost .gift {
  display: flex;
  gap: 20px;
  align-items: center;
}
.blogpost .gift .gift-image img {
  width: 250px;
  border-radius: 25px;
}
.blogpost .gift div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blogpost .gift div .price {
  color: #6830D4;
  font-weight: bold;
}
.blogpost .gift div p:nth-of-type(2) {
  font-size: 14px;
}
.blogpost .gift div a {
  align-self: flex-start;
  display: block;
  background-color: #6830D4;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 1000px;
  margin-top: 10px;
}
.blogpost .gift div a:hover {
  transform: scale(0.9);
  transition: 300ms;
}
.blogpost .meercadeaus {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.blogpost .meercadeaus a {
  display: block;
  align-self: center;
  background-color: #2A0C60;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 1000px;
}
.blogpost .meercadeaus a:hover {
  transform: scale(0.9);
  transition: 300ms;
}

@media only screen and (max-width: 625px) {
  .gift {
    flex-direction: column;
  }
  .gift img {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */