$wit : #FFFFFF;
$lichtpaars : #F7F3FB;
$paars : #6830D4;
$donkerpaars: #2A0C60;
$grijs : #3A3A3A;

*, html{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: $lichtpaars;

    h1,h2,h3,h4,h5,h6,p{
        color: $grijs;
    }

    a{
        text-decoration: none;
        color: $grijs
    }
}

@import 'home', 'blogpost';